---
import { formatDate } from '../../utils'
import { fetchAPI } from '../../utils/api'
import type { ArticleType } from './../../types'
import 'animate.css';

const { data: articulos } = await fetchAPI('/api/articulos?populate=image')
---

<article class="content">
  <h1 class="animate__animated animate__fadeIn">Artículos</h1>
  <div class="grid animate__animated animate__fadeIn">
  {articulos.length > 0 ? (
    articulos.map((articulo: ArticleType) => (
      <article class="card">
        <div class="card__content-img">
          <img
            class="card__img"
            src={articulo.attributes.image.data.attributes.url}
            alt={`puede ser una fotografía de un artículo de ${articulo.attributes.title}`} />
        </div>
        <em class='card__date'>{formatDate(articulo.attributes.createdAt)}</em>
        <h2 class='card__title'>{articulo.attributes.title}</h2>
        <p class="card__description">{articulo.attributes.description}</p>
      </article>
    ))
  ) : (
    <p>No hay artículos disponibles.</p>
  )}
  </div>
</article>

<style>
  .content {
    padding-top: var(--header);
    max-width: 120rem;
    margin: 0 auto 4rem;
  }

  h1 {
    line-height: 1;
    font-size: var(--font-xxl);
    margin: 4rem 0;
  }

  .grid {
    display: grid;
    padding: 0 1rem;
    gap: 4rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    animation-delay: 0.5s;
  }

  .card {
    width: 100%;
  }

  .card__content-img {
    max-width: 100%;
  }

  .card:first-child {
    grid-column: 1 / -1;
    width: 100%;
    max-width: 100%;
  }

  .card:first-child .card__content-img {
    max-width: 100%;
  }

  .card__img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
  }

  .card__date {
    font-size: var(--font-normal);
    color: var(--green);
    margin: 1rem 0 0;
    display: block;
  }

  .card__title {
    font-size: var(--font-sm);
    display: block;
  }

  .card__description {
    font-size: var(--font-normal);
    font-family: var(--font-body);
    margin: 1rem 0;
    display: block;
  }

  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    }
  }

</style>
