---
import { formatDate } from "../../utils";
import type { ColumnsType } from "./../../types";
import "animate.css";
const url = `${import.meta.env.PUBLIC_API_URL}/api/columns`;
const response = await fetch(url);
const { data } = await response.json();

const getColumn = async (id: number) => {
  return await fetch(`${import.meta.env.SITE}/api/${id}`);
};
---

<article class="content">
  <h1 class="animate__animated animate__fadeIn">Columnas</h1>
  <div class="grid animate__animated animate__fadeIn">
    {
      data.map((item: ColumnsType) => (
        <article class="card">
          <em class="card__date">{formatDate(item.attributes.publishedAt)}</em>
          <h2 class="card__title">{item.attributes.title}</h2>
          <p class="card__description">
            {item.attributes.description.slice(0, 300)}...
          </p>
          <a class="view-more" href={`/columnas/${item.attributes.identifier}`}>
            Leer más
          </a>
          <hr />
        </article>
      ))
    }
  </div>
</article>

<style>
  .content {
    padding-top: var(--header);
    margin: 0 auto;
    background: var(--cream);
    padding-bottom: 8rem;
  }

  h1 {
    line-height: 1;
    font-size: var(--font-xxl);
    max-width: 120rem;
    padding: 0 1rem;
  }

  .grid {
    display: grid;
    padding: 0 1rem;
    gap: 4rem 2rem;
    grid-template-columns: 1fr;
    max-width: 90rem;
    margin: 0 auto;
    background: var(--white);
    padding: 2rem 1rem;
    animation-delay: 0.5s;
  }

  .card__date {
    font-size: var(--font-md);
    color: var(--green);
    margin: 1rem 0 0;
    display: block;
  }

  .card__title {
    font-size: var(--font-sm);
    display: block;
    font-weight: 600;
  }

  .card__description {
    font-size: var(--font-normal);
    font-family: var(--font-body);
    margin: 1rem 0;
    display: block;
  }

  .view-more {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--green);
    font-family: var(--font-coursive);
    display: flex;
    margin: 3rem 0;
    justify-content: flex-end;
  }

  .view-more::after {
    content: "→";
    margin-left: 1rem;
    transition: all 0.3s ease;
  }

  .view-more:hover::after {
    color: var(--green);
    transform: translateX(0.3rem);
  }

  hr {
    margin-top: 4rem;
  }

  @media (min-width: 769px) {
    .grid {
      padding: 2rem 4rem;
    }

    h1 {
      margin: 4rem auto;
    }
  }
</style>
