---
const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/api/home-banner?populate=image`)
const data = await response.json()
const { title, description, image, pdf } = data.data.attributes
const srcImage = image.data.attributes.url
---

<section class="section">
  <div class="container">
    <div class="book">
      <img src={srcImage} alt="puede ser una caratula de una portada de un libro" class="book__img">
    </div>
    <article class="description">
      <h2 class="title">{title}</h2>
      <h3 class="subtitle">Nota de la autora</h3>
      <p class="note">{description}</p>
      <nav class="nav">
        <a href={pdf}>Descargar</a>
        <a href="/biblioteca">Ver más libros</a>
      </nav>
    </article>
  </div>
</section>

<style>
  .section {
    background: var(--cream);
    padding: 8rem 0 4rem;
  }

  .container {
    display: grid;
  }

  .book {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
  }

  .book__img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .title {
    font-size: var(--font-sm);
    text-align: center;
  }

  .subtitle {
    text-align: left;
  }

  .note {
    font-family: var(--font-body);
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem auto;
  }

  .nav a {
    font-size: var(--font-normal);
    font-family: var(--font-body);
    color: var(--green);
    padding-bottom: 0.1rem;
    border-bottom: 1px solid var(--green);
  }

  @media (min-width: 768px) {
    .container {
      min-height: 90vh;
      place-items: center;
      grid-template-columns: 1fr 1fr;
    }

    .book {
      max-width: 500px;
      max-height: 500px;
    }

    .title {
      font-size: var(--font-md);
      text-align: left;
      font-weight: 600;
    }

    .nav {
      margin: 0;
      justify-content: flex-end;
      column-gap: 2rem;
    }
  }

</style>
