---
import type { BooksType } from "../../types";
export interface Props {
  data: BooksType[];
}
const { data } = Astro.props;
---

<div class="content" id="more">
  <div class="grid">
    {
      data?.map((item: BooksType) => (
        <div class="card">
          <div class="card__pic">
            <img
              src={item.attributes.image.data.attributes.url}
              alt={`puede ser una imagen de la portada del libro ${item.attributes.title}`}
              class="card__img"
            />
          </div>
          <h2 class="title">{item.attributes.title}</h2>
          <nav class="navv">
            {item.attributes.spanishVersion && (
              <a target="_blank" href={item.attributes.spanishVersion}>
                Leer Libro
              </a>
            )}
            {item.attributes.englishVersion && (
              <a target="_blank" href={item.attributes.englishVersion}>
                Leer Libro en Inglés
              </a>
            )}
          </nav>
        </div>
      ))
    }
  </div>
</div>

<style>
  .content {
    background: var(--white);
  }

  .grid {
    display: grid;
    padding: 8rem 0;
    gap: 2.5rem;
    max-width: 120rem;
    margin: 0 auto;
  }

  .card {
    width: 100%;
    max-width: 32rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .card__pic {
    width: 30rem;
    height: 30rem;
  }

  .card__img {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .title {
    font-family: var(--font-title);
    font-size: var(--font-title);
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 600;
  }

  .navv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    bottom: 0;
    right: 0;
    margin-bottom: 3rem;
  }

  .navv a {
    font-family: var(--font-body);
    font-size: var(--font-normal);
    color: var(--green);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid var(--green);
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
  }

  .navv a:hover {
    background-color: var(--green);
    color: var(--white);
  }

  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
      padding: 14rem 0 8rem;
    }
  }
</style>
